.fira-sans-medium {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;
  }

/* .vision{
    margin: 0 auto;
} */

body{
    background-color: #F1F1F3;
}

main{
    max-width:1280px ;
    margin: 0 auto;
    
}
/* Banner STYLES */

.banner{
    background-color:#C6E4D6 ;
    margin: 0 auto;
   max-width: 1280px;
   display: flex;
   justify-content: space-between;
   border-radius: 24px;

}

.banner_content{
    padding: 100px 0px 100px 60px;
    
}

.banner_start{
  color:rgba(14, 14, 14, 0.5) ;
  font-size: 24px;
  font-weight: 600;
  margin-bottom:18px ;
}

.banner_title{
    font-size:55px ;
    font-weight: bold;
    margin-bottom: 24px;
}

.btn_explore{
    background-color: #006A50;
    border-radius: 8px;
    padding:15px 30px ;
    color: white;
    border-style: none;
    font-size: 18px;
    font-weight: 500;
}

.banner_img {
    width: 450px;
    height: 400px;
    margin-right:55px ;
    padding-top: 80px;
}

/* VISION_FUTURE STYLES */

.vision{
    margin-top: 80px;
}

.vision_title{
font-size: 45px;
font-weight: bolder;
margin-bottom: 24px;
}
.vision_descri{
    font-size: 16px;
    font-weight: 400;
    /* margin-top: 24px; */
}

.future_content{
    display: flex;
    gap:24px ;
}

.future_title{
    font-size: 20px;
    font-weight: bold;
}

.future_discri{
    font-size: 16px;
    font-weight: 400;
}

.width_padding_radius{
    width: 400px;
    border-radius: 16px;
    padding: 24px;
}

.future_need1{
    background-color:#d4e0f6 ;
    /* width: 400px;
    border-radius: 16px;
    padding: 24px; */
}
.future_need2{
    background-color:#C6E4D6 ;
    /* width: 400px;
    border-radius: 16px; */
}
.future_need3{
    background-color:#F7EBCF ;
    /* width: 400px;
    border-radius: 16px; */
}

.btn_secondary1 {
    background-color:#5490F5 ;
}
.btn_secondary2{
    background-color: #09A15C;
}
.btn_secondary3{
    background-color: #FFC239;
}

.btn_primary{
 padding:12px 16px;
 width: 125px;
 /* height: 40px; */
 font-size: 16px;
 font-weight: 600;
 color: white;
 border-radius: 8px;
 border-style: none;
}

/* RECENT NEWS styles */

.news{
    margin-top: 80px;
}
.news_title{
    font-size: 40px;
    font-weight: bold;
}

.news_discri{
    color: #0E0E0E;
}

.btn_color{
    background-color: #006A50;
    text-align: center;
}

.braking_news_content1{
    display: flex;
}

.braking_news_content2{
    display: flex;
}

.braking_news_content1 , .braking_news_content2{
    background-color:white ;
    margin-bottom: 24px;
    gap:40px ;
    border-radius: 24px;
    width: 1280px;
    height:400px ;
    align-items: center;
    padding-left:48px ;
    /* border-color:whitesmoke ; */
}

.braking_news_content1>img{
    border-radius: 24px;
}
.braking_news_content2{
    padding-right: 24px;
}
.braking_news_content2>img{
    border-radius: 24px;
}

.braking_news_title{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 12px;
}
.braking_news_discri{
    font-size: 16px;
    font-weight: 400;
    color: #0E0E0E;
}

/* Donate today styles */

.donate{
    margin-top: 80px;
}

.donate_content{
text-align: center;
}

.taka_content{
    display: flex;
    gap: 24px;
}

.taka_box{
    width: 240px;
    background-color:#FFFFFF;
    padding: 50px;
    border-radius:16px ;
}
.taka_amt{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}
.one_box_color{
    background-color: #C6E4D6; 
}

.donate_input{
    margin-top:32px ;
    border-style: none;
    /* text-align: center; */
}

input{
    width: 100%;
    height:64px ;
    /* outline:none ; */
    text-align: center;
}

.justify{
    /* align-items: center; */
    /* justify-content: center; */
    padding: 32px 564px 0px 564px;
}

/* HOVER & COLOR CHANGE Styles */
.taka_box:hover ,.btn_primary:hover, .btn_explore:hover {
background-color: #5490F5;
}